@mixin radius($t : 3, $r : $t, $b : $t, $l : $r){
	$t : #{$t}px;
	$r : #{$r}px;
	$b : #{$b}px;
	$l : #{$l}px;
	-webkit-border-radius: $t $r $b $l;
	-moz-border-radius: $t $r $b $l;
	border-radius: $t $r $b $l;
}

@mixin round-border(){
	-webkit-border-radius: 50% 50% 50% 50%;
	-moz-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
}

@mixin shadow($h : 0, $v : 0, $b : 8, $col : #d0d0d0){
	$h : #{$h}px;
	$v : #{$v}px;
	$b : #{$b}px;
   -moz-box-shadow:     $h $v $b 0 $col;
   -webkit-box-shadow:  $h $v $b 0 $col;
   box-shadow:          $h $v $b 0 $col;	
}

@mixin transition($var:300, $type:all, $timing:linear){
	-webkit-transition: $type $var + ms;
    -moz-transition: $type $var + ms;
    -o-transition: $type $var + ms;
    transition: $type $var + ms;
    transition-property:$type;
	-moz-transition-property: $type; /* Firefox 4 */
	-webkit-transition-property:$type; /* Safari and Chrome */
	-o-transition-property:$type; /* Opera */
	transition-timing-function: $timing;
}

@mixin transparent-back($color : #f0f0f0, $alpha : 0.7) {
	$rgba: rgba($color, $alpha);
	$ie-hex-str: ie-hex-str($rgba);
	background-color: transparent;
	background-color: $rgba;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
	zoom: 1;
}

@mixin no-select(){
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin linear-gradient($start: #f1f1f1, $from: 0%, $stop: #d9d9d9, $to: 100%) { 
	background: $start;
	background: -webkit-gradient(linear, left left, left right, from($start), to($stop));
	background: -moz-linear-gradient(center left, $start $from, $stop $to);
	background: -moz-gradient(center left, $start $from, $stop $to);
	background: -webkit-linear-gradient(left, $start $from,$stop $to);
	background: -o-linear-gradient(left, $start $from,$stop $to);
	background: -ms-linear-gradient(left, $start $from,$stop $to);
	background: linear-gradient(to bottom, $start $from,$stop $to);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$start}', endColorstr='#{$stop}',GradientType=0 );
}

@mixin no-list () {
	margin : 0rem;
	padding : 0rem;
	list-style : none;
}