//====== COLORS ========//
//======================//

$aqua   	: #7FDBFF;
$blue   	: #0074D9;
$lime   	: #01FF70;
$navy   	: #001F3F;
$teal   	: #39CCCC;
$olive   	: #3D9970;
$green   	: #28713E;
$d-green	: #206936;
$red   		: #FF4136;
$maroon   : #85144B;
$orange   : #FF851B;
$purple   : #B10DC9;
$yellow   : #FFDC00;
$fuchsia  : #F012BE;
$gray   	: #aaa;
$white   	: #fff;
$black   	: #111;
$silver   : #ddd;